/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&display=swap');
/*Asterisk wildcard selector to overide default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/*Generic projekt styles*/
color: aliceblue;
font-family: 'Lato', sans-serif;
}
/*header*/
header {
    background-color: black;
}
/*main*/
main {
    background-color: beige;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}
/*footer*/
footer {
    background-color: aliceblue;
}